<%
  var thumb_img;
  if (post.photos.length) {
    // thumb_img = post.photos[Math.floor(Math.random() * post.photos.length)];
    thumb_img = post.photos[0];
  } else {

    var img_exists = post.content.indexOf("<img src=\"");

    if (img_exists > -1) {
      var i = img_exists + 10;

      thumb_img = post.content.substr(i);
      thumb_img = thumb_img.substr(0, thumb_img.indexOf("\""));
    } else
      thumb_img = theme.covers[Math.floor(Math.random() * theme.covers.length)];
  }

  snippet = post.content.replace(/<(?:.|\n)*?>/gm, '').substr(0, 100);
  post_link = config.root + post.path;
%>
<div class="post-outer"><div class="entry">
  <a name="<%= post.layout %>-<%= post.slug %>"></a>
  <div class="post-body entry-content" id="<%= post.layout %>-<%= post.slug %>" itemprop="articleBody">
    <article class="box-home">
      <div class="thumbz-home" data-delay="3000" data-initdelay="100" data-mode="flip-list" id="tes">
        <h1 class="absolute-h1"><%= post.date.format("YY.MM.DD") %></h1>
        <a href="<%- post_link %>">
          <img class="thumb-home-img" src="<%- thumb_img %>">
        </a>
        <div class="thumb-bottom-1">
          <p class="title-thumb">
            <a class="title" href="<%- post_link %>"><%- post.title %></a>
          </p>
          <p class="intro-1">
            <%- snippet %>...
            <br clear="all" />
          </p>
          <!-- TODO: blogger shareButtons
          <span class="post-share-buttons goog-inline-block"></span>
          -->
          <span class="con-3">
            <span class="post-labels">
            <% if (post.tags && post.tags.length){ %>
              <% post.tags.forEach(function(tag) { %>
                <a href="<%= config.root + tag.path %>" rel="tag"><%= tag.name %></a>
              <% }); %>
            <% } %>
            </span>
          </span>
          <a class="more" href="<%- post_link %>"></a>
          <a class="zoom ajax" href="<%- thumb_img %>" title="<%- post.title %>"></a>
        </div>
        <div class="thumb-bottom-2">
          <h3 class="post-title entry-title" itemprop="name">
            <a class="ajax" href="<%- post_link %>"><%- post.title %></a>
          </h3>
        </div>
      </div>
      <div class="post-meta11"></div>
    </article>
  </div>
  <div class="clear">
</div></div>
