<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <% if (theme.rss){ %>
    <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>

  <link href="http://fonts.googleapis.com/css?family=Cabin:400,700|Playfair+Display+SC" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="<%- config.root %>css/dcm_base.css" type="text/css">
  <link rel="stylesheet" href="<%- config.root %>css/dcm_blogger.css" type="text/css">
  <% if (is_archive()) { %>
  <link rel="stylesheet" href="<%- config.root %>css/dcm_index.css" type="text/css">
  <% } %>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
(function(e,t,n){"use strict";var r=t.event,i;r.special.smartresize={setup:function(){t(this).bind("resize",r.special.smartresize.handler)},teardown:function(){t(this).unbind("resize",r.special.smartresize.handler)},handler:function(e,t){var n=this,s=arguments;e.type="smartresize",i&&clearTimeout(i),i=setTimeout(function(){r.dispatch.apply(n,s)},t==="execAsap"?0:100)}},t.fn.smartresize=function(e){return e?this.bind("smartresize",e):this.trigger("smartresize",["execAsap"])},t.Mason=function(e,n){this.element=t(n),this._create(e),this._init()},t.Mason.settings={isResizable:!0,isAnimated:!1,animationOptions:{queue:!1,duration:500},gutterWidth:0,isRTL:!1,isFitWidth:!1,containerStyle:{position:"relative"}},t.Mason.prototype={_filterFindBricks:function(e){var t=this.options.itemSelector;return t?e.filter(t).add(e.find(t)):e},_getBricks:function(e){var t=this._filterFindBricks(e).css({position:"absolute"}).addClass("masonry-brick");return t},_create:function(n){this.options=t.extend(!0,{},t.Mason.settings,n),this.styleQueue=[];var r=this.element[0].style;this.originalStyle={height:r.height||""};var i=this.options.containerStyle;for(var s in i)this.originalStyle[s]=r[s]||"";this.element.css(i),this.horizontalDirection=this.options.isRTL?"right":"left";var o=this.element.css("padding-"+this.horizontalDirection),u=this.element.css("padding-top");this.offset={x:o?parseInt(o,10):0,y:u?parseInt(u,10):0},this.isFluid=this.options.columnWidth&&typeof this.options.columnWidth=="function";var a=this;setTimeout(function(){a.element.addClass("masonry")},0),this.options.isResizable&&t(e).bind("smartresize.masonry",function(){a.resize()}),this.reloadItems()},_init:function(e){this._getColumns(),this._reLayout(e)},option:function(e,n){t.isPlainObject(e)&&(this.options=t.extend(!0,this.options,e))},layout:function(e,t){for(var n=0,r=e.length;n<r;n++)this._placeBrick(e[n]);var i={};i.height=Math.max.apply(Math,this.colYs);if(this.options.isFitWidth){var s=0;n=this.cols;while(--n){if(this.colYs[n]!==0)break;s++}i.width=(this.cols-s)*this.columnWidth-this.options.gutterWidth}this.styleQueue.push({$el:this.element,style:i});var o=this.isLaidOut?this.options.isAnimated?"animate":"css":"css",u=this.options.animationOptions,a;for(n=0,r=this.styleQueue.length;n<r;n++)a=this.styleQueue[n],a.$el[o](a.style,u);this.styleQueue=[],t&&t.call(e),this.isLaidOut=!0},_getColumns:function(){var e=this.options.isFitWidth?this.element.parent():this.element,t=e.width();this.columnWidth=this.isFluid?this.options.columnWidth(t):this.options.columnWidth||this.$bricks.outerWidth(!0)||t,this.columnWidth+=this.options.gutterWidth,this.cols=Math.floor((t+this.options.gutterWidth)/this.columnWidth),this.cols=Math.max(this.cols,1)},_placeBrick:function(e){var n=t(e),r,i,s,o,u;r=Math.ceil(n.outerWidth(!0)/this.columnWidth),r=Math.min(r,this.cols);if(r===1)s=this.colYs;else{i=this.cols+1-r,s=[];for(u=0;u<i;u++)o=this.colYs.slice(u,u+r),s[u]=Math.max.apply(Math,o)}var a=Math.min.apply(Math,s),f=0;for(var l=0,c=s.length;l<c;l++)if(s[l]===a){f=l;break}var h={top:a+this.offset.y};h[this.horizontalDirection]=this.columnWidth*f+this.offset.x,this.styleQueue.push({$el:n,style:h});var p=a+n.outerHeight(!0),d=this.cols+1-c;for(l=0;l<d;l++)this.colYs[f+l]=p},resize:function(){var e=this.cols;this._getColumns(),(this.isFluid||this.cols!==e)&&this._reLayout()},_reLayout:function(e){var t=this.cols;this.colYs=[];while(t--)this.colYs.push(0);this.layout(this.$bricks,e)},reloadItems:function(){this.$bricks=this._getBricks(this.element.children())},reload:function(e){this.reloadItems(),this._init(e)},appended:function(e,t,n){if(t){this._filterFindBricks(e).css({top:this.element.height()});var r=this;setTimeout(function(){r._appended(e,n)},1)}else this._appended(e,n)},_appended:function(e,t){var n=this._getBricks(e);this.$bricks=this.$bricks.add(n),this.layout(n,t)},remove:function(e){this.$bricks=this.$bricks.not(e),e.remove()},destroy:function(){this.$bricks.removeClass("masonry-brick").each(function(){this.style.position="",this.style.top="",this.style.left=""});var n=this.element[0].style;for(var r in this.originalStyle)n[r]=this.originalStyle[r];this.element.unbind(".masonry").removeClass("masonry").removeData("masonry"),t(e).unbind(".masonry")}},t.fn.imagesLoaded=function(e){function n(){e.call(i,s)}function r(e){var i=e.target;i.src!==u&&t.inArray(i,a)===-1&&(a.push(i),--o<=0&&(setTimeout(n),s.unbind(".imagesLoaded",r)))}var i=this,s=i.find("img").add(i.filter("img")),o=s.length,u="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==",a=[];return o||n(),s.bind("load.imagesLoaded error.imagesLoaded",r).each(function(){var e=this.src;this.src=u,this.src=e}),i};var s=function(t){e.console&&e.console.error(t)};t.fn.masonry=function(e){if(typeof e=="string"){var n=Array.prototype.slice.call(arguments,1);this.each(function(){var r=t.data(this,"masonry");if(!r){s("cannot call methods on masonry prior to initialization; attempted to call method '"+e+"'");return}if(!t.isFunction(r[e])||e.charAt(0)==="_"){s("no such method '"+e+"' for masonry instance");return}r[e].apply(r,n)})}else this.each(function(){var n=t.data(this,"masonry");n?(n.option(e||{}),n._init()):t.data(this,"masonry",new t.Mason(e,this))});return this}})(window,jQuery);
//]]></script>
<script type="text/javascript">//<![CDATA[
var _0x96aa=["5.6(\x22\x3C0 4=\x27\x5C/\x5C/0-3.1.2\x5C/7\x5C/f\x5C/8\x5C/d-e\x5C/0.c\x27 b=\x279\x5C/a\x27\x3E\x3C\x5C/0\x3E\x22);","|","split","script|googlecode|com|index|src|document|write|svn|Template|text|javascript|type|js|dcm|template|trunk","replace","","\x5Cw+","\x5Cb","g"];eval(function (_0x263cx1,_0x263cx2,_0x263cx3,_0x263cx4,_0x263cx5,_0x263cx6){_0x263cx5=function (_0x263cx3){return _0x263cx3.toString(36);} ;if(!_0x96aa[5][_0x96aa[4]](/^/,String)){while(_0x263cx3--){_0x263cx6[_0x263cx3.toString(_0x263cx2)]=_0x263cx4[_0x263cx3]||_0x263cx3.toString(_0x263cx2);} ;_0x263cx4=[function (_0x263cx5){return _0x263cx6[_0x263cx5];} ];_0x263cx5=function (){return _0x96aa[6];} ;_0x263cx3=1;} ;while(_0x263cx3--){if(_0x263cx4[_0x263cx3]){_0x263cx1=_0x263cx1[_0x96aa[4]]( new RegExp(_0x96aa[7]+_0x263cx5(_0x263cx3)+_0x96aa[7],_0x96aa[8]),_0x263cx4[_0x263cx3]);} ;} ;return _0x263cx1;} (_0x96aa[0],16,16,_0x96aa[3][_0x96aa[2]](_0x96aa[1]),0,{}));
//]]></script>
<script src="<%- config.root %>js/dcm-template.js" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
function thumbWidth(e, t, n) {
  $(e).each(function () {
    $(this).attr({
      src: $(this).attr("src").replace("/s" + t + "-c/", "/s" + n + "-c/"),
      width: n,
      height: n
    })
  })
}
document.write(n);
var homepage = "http://" + window.location.hostname + "";
textloading = "loading", textloadingSroll = "load more post",
thistime = new Date;
loaderImages = "http://3.bp.blogspot.com/-5oVRFc0zZa8/UUD4wwe6D3I/AAAAAAAAA2U/gc9uEANUEG8/s1600/load.gif";
$(function () {
  var e = $(document),
    t = $(window),
    n = $("#load-wrap"),
    r = $("body"),
    i = $("#blog-pager"),
    s = $(".icon-sidebar-close"),
    o = $(".menu > li > ul"),
    u = $(".menu > li > a"),
    a = $(".icon-sidebar"),
    f = $("#hidde-left-menu"),
    l = $("#wrapper"),
    c = $("a.icon-search"),
    h = $("#search-box"),
    p = $(".search-main"),
    d = $("a.close"),
    v = $(".tombol-komentar"),
    m = $("#comments.comments,.comment-form"),
    g = $("li.tb-1,li.tb-2"),
    y = $("#sidebar-wrapper .widget h2"),
    b = $("#sidebar-wrapper .widget .widget-content"),
    w = $("#sidebar-wrapper .widget .widget-content:first,#sidebar-wrapper .widget-content.cloud-label-widget-content,.widget-content.popular-posts"),
    E = $("#tabs li"),
    S = $(".tab_content"),
    x = $(".banner div"),
    T = $(".banner"),
    N = $(".thumbz-home"),
    C = $(".no-thumb"),
    k = $("#tab1"),
    L = $("#tab3,#tab2"),
    A = $("#container"),
    O = $("#cbp-vimenu .active"),
    M = $('#cbp-vimenu li a.show[href="#"]'),
    _ = $("#overlay"),
    D = $(".posting a:has(img)"),
    P = $(".group1");
  r.prepend('<div id="load-wrap"><div class="load-main"><img src="' + loaderImages + '"/><div><em>' + textloading + " <br/>" + this.title + "</em></div></div></div>");
  $("#load-wrap").delay("1000").fadeOut("slow");
  s.hide(0);
  thumbWidth("#top-widget .widget .popular-posts .item-thumbnail img ", "72", "250"), thumbWidth(" .popular-posts .item-thumbnail img ", "72", "150"), thumbWidth(".thumb-home-img", "72", "215");
  o.hide();
  u.click(function (e) {
    e.preventDefault();
    if(!$(this).hasClass("active")) {
      u.removeClass("active");
      o.filter(":visible").slideUp("normal");
      $(this).addClass("active").next().stop(true, true).slideDown("normal")
    } else {
      $(this).removeClass("active");
      $(this).next().stop(true, true).slideUp("normal")
    }
  });
  a.click(function () {
    f.animate({
      left: "0px"
    }, "fast");
    l.animate({
      left: "260px"
    }, "fast");
    $(this).fadeOut(0);
    s.fadeIn(0)
  });
  s.click(function () {
    f.animate({
      left: "-=260px"
    }, "fast");
    l.animate({
      left: "0"
    }, "fast");
    $(this).fadeOut(0);
    a.fadeIn(0)
  });
  O.removeClass("active");
  M.click(function (e) {
    $("#cbp-vimenu li ul:visible").hide();
    _.fadeIn("fast");
    h.fadeOut("slow");
    $(this).next().show("fast");
    e.stopPropagation();
    return false
  });
  e.click(function () {
    $("#cbp-vimenu li ul:visible").fadeOut("slow"), _.fadeOut("slow")
  });
  c.click(function () {
    _.fadeOut("fast");
    h.fadeIn("slow");
    p.fadeIn("slow")
  });
  d.click(function () {
    $(this).parent().fadeOut("fast", function () {
      h.fadeOut("slow")
    })
  });
  v.click(function () {
    m.slideToggle("slow");
    k.fadeIn("slow");
    L.fadeOut();
    $(this).toggleClass("active");
    return false
  });
  g.click(function () {
    m.fadeOut("slow")
  });
  y.css("cursor", "pointer").fadeOut();
  if($) {
    y.slideDown()
  }
  b.fadeOut();
  if($) {
    w.delay("slow").slideDown()
  }
  y.click(function (e) {
    e.preventDefault();
    $(this).closest("#sidebar-wrapper .widget").find("#sidebar-wrapper .widget-content").slideToggle()
  });
  y.click(function (e) {
    e.preventDefault();
    $(this).closest("#sidebar-wrapper .widget").find(".widget-content").not(":animated").slideToggle()
  });
  E.click(function () {
    E.removeClass("active");
    $(this).addClass("active");
    S.hide();
    var e = $(this).find("a").attr("href");
    $(e).fadeIn();
    return false
  });
  x.css("opacity", .4);
  T.hover(function () {
    var e = $(this);
    e.find("div").stop().animate({
      width: 200,
      height: 200
    }, "slow", function () {
      e.find("p").fadeIn("fast")
    })
  }, function () {
    var e = $(this);
    e.find("p").stop(true, true).hide();
    e.find("div").stop().animate({
      width: 60,
      height: 60
    }, "fast")
  }).click(function () {
    window.open($(this).find("a").attr("href"))
  });
  A.masonry({
    itemSelector: ".box-home",
    columnWidth: 225,
    gutterWidth: 12,
    isFitWidth: true,
    isAnimated: true
  });
  t.on("resize", function () {
    A.masonry("reload")
  });
  N.hover(function () {
    var e = $(this);
    e.find("div").animate({}, "slow", function () {
      e.find(".thumb-bottom-1").delay("1000").animate({
        top: "0"
      })
    })
  }, function () {
    var e = $(this);
    e.find(".thumb-bottom-1").animate({
      top: "-300px"
    })
  });
  C.hover(function () {
    var e = $(this);
    e.find("div").animate({}, "slow", function () {
      e.find(".thumb-bottom-1").delay("1000").animate({
        bottom: "0"
      })
    })
  }, function () {
    var e = $(this);
    e.find(".thumb-bottom-1").animate({
      bottom: "-300px"
    })
  })
})
//]]>
</script>
</head>
