<%
  subtitle = '';
  exttitle = '';
  if (is_archive()){
    exttitle += ' > Archives';

    if (is_month()){
      exttitle += ' > ' + page.year + ' > ' + page.month;
    } else if (is_year()){
      exttitle += ' > ' + page.year;
    }
  } else if (is_category()){
    exttitle += ' > Category > ' + page.category;
  } else if (is_tag()){
    exttitle += ' > Tag > ' + page.tag;
  } else {
    subtitle = config.subtitle;
  }
%>
<header class="clearfix">
  <% if (type == 'list') { %>
  <div id="header-inner">
    <div class="titlewrapper">
      <h1 class="title">
        <%= config.title %><span style="font-size: .6em; padding: 0 0 0 10px"><%= exttitle %></span>
      </h1>
    </div>
    <div class="descriptionwrapper">
      <p class="description"><span><%= subtitle %></span></p>
    </div>
  </div>
  <% } else if (type == 'post') { %>
  <h3>
    <a href="<%- config.root %>"><%- post.title %></a>
  </h3>
  <% } %>
  <nav>
    <div class="profil-top">
      <div class="right-profil section" id="right-profil"><div class="widget Profile" id="Profile1">
        <a href="<%- theme.personal.vcard %>"><img alt="My Photo" class="profile-img" height="80" src="<%- theme.personal.figure %>" width="80"></a>
        <a class="profile-link" href="<%- theme.personal.vcard %>" rel="author"><%- theme.personal.slogan %></a>
        <div class="clear"></div>
      </div></div>
    </div>
  </nav>
</header>
