<!DOCTYPE HTML>
<html>
<%- partial('dcm/head') %>

<body class='loading'>
  <div id='overlay'></div>
  <%- partial('dcm/left-menu') %>
  <%- body %>
  <%- partial('dcm/footer') %>
  <%- partial('dcm/after_all') %>
</body>
</html>
